<div class="card">
    <form [formGroup]= "cargoForm">
    <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Consecutivo</label>
                </div>
                    <div class="form-row">
                        <input type="text" class="form-control" formControlName="consecutivo"  placeholder="Ingrese código">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Código</label>
                </div>
                    <div class="form-row">
                        <input type="text" class="form-control" formControlName="codigo"  placeholder="Ingrese código">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Nombre</label>
                    </div>
                    <div class="form-row">
                        <input type="text" class="form-control" formControlName="nombre"  placeholder="Ingrese nombre">
                    </div>
                </div>
                <div class="form-row mt-4" >
                    <div class="col-md-6" >
                        <button class="btn btn-primary" (click)="onFormSubmit()">Actualizar</button>
                        <div class="alert alert-dismissible alert-success" *ngIf="alert">
                           <strong>Cargo actualizado</strong> 
                        </div>
                        <div>
                            <div class="alert alert-dismissible alert-danger" *ngIf="alertexist">
                                <strong>La identificación es errónea o no se encuentra en la base de datos</strong> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
  
  
         
    </div>
    </form> 
          
</div>
